<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block head_title %}
        SaaS
      {% endblock %}
    </title>
    {% include './base/css.html' %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" /> {% endcomment %}
  </head>

  <body>
    {% include 'nav/navbar.html' %}
    {% block content %}

    {% endblock %}
    {% include './base/js.html' %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script> {% endcomment %}
  </body>
</html>
